
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: #3f7872;
    padding: 35px;
}
nav a:hover {
    color: #edf6f9;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}


.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #edf6f9;
}

body {
    background: #83c5be;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
}

header,
footer {
    background-color: #edf6f9;
}

nav a:hover,
footer a:hover {
    background-color: #83c5be;
}
.book:hover,
.join:hover {
    background-color: #e29578;
}

.msg {
    background: #ffddd2;
    line-height: 1.5em;
    padding: 35px;
}



.home-title {
    color: white;
    font-family: 'Verdana', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.book,.join {
    color: #b7694c;
    text-align: center;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    background: #ffddd2;
    font-size: 18px;
    border-radius: 5px;
}
.book:hover,
.join:hover {
    color: #ffddd2;
}
.msg h2 {
    color: #e29578;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.msg p {
    color: #b7694c;
    padding: 25px 50px;
    font-size: .8em;
    padding-bottom: 15px;
}
.logo{
    padding-top: 5px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #edf6f9;

}
main section img {
    box-sizing: border-box;
}

footer {
    color: #3f7872;
    padding: 25px 50px;
    margin-top: 200px;
}
footer p {
    font-size: 1.2em;
    text-decoration: underline;
}
footer a {
    color: #3f7872;
    text-decoration: none;
    text-align: center;
}
footer a:hover {
    color: #edf6f9;
}

footer .social img {
    padding-top: 15px;
}

 .logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

img#hero-img {
    width: 100%
}
img.card-img {
    width: 30%;
}
img.mountains {
    width: 50%;
}

img.social {
    width: 80px;
}